<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    {{- $images := $.Resources.ByType "image" -}}
    {{- $featured := $images.GetMatch "*feature*" -}}
    {{- if $featured }}
    <a href="{{ .Permalink }}">
        <img class="rounded-t-lg" src="{{ $featured.Permalink }}" alt=""/>
    </a>
    {{- end -}}
    <div class="p-5">
        <a href="{{ .Permalink }}">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ .Title }}</h5>
        </a>
        {{- if .Description }}
        <p class="font-normal text-gray-700 dark:text-gray-400">{{ .Description }}</p>
        {{- end -}}
    </div>
</div>
