{{ $hasSubmenu := false }}
{{ with .Page.Params.submenu }}
{{ $hasSubmenu = gt (len .) 0 }}
{{end}}
{{ if $hasSubmenu }}
<a href="#" class="fixed right-4 bottom-4 text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center">
    <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 19.5v-15m0 0l-6.75 6.75M12 4.5l6.75 6.75"></path>
    </svg>
</a>
{{end}}