{{ $hasSubmenu := false }}
{{ with .Page.Params.submenu }}
{{ $hasSubmenu = gt (len .) 0 }}
{{end}}
{{ $gridCols := 0 }}
{{ if $hasSubmenu }}
{{ $gridCols = add $gridCols 1 }}
{{end}}
{{ if .Page.IsTranslated }}
{{ $gridCols = add $gridCols 1 }}
{{end}}

{{ if or $hasSubmenu .Page.IsTranslated }}
<nav class="grid gap-4 pb-4 grid-cols-{{ $gridCols }} bg-white">
    {{ if $hasSubmenu }}
    <ul class="flex flex-col gap-4 md:gap-2 items-start justify-start text-sm font-medium">
        {{ range .Page.Params.submenu }}
        <li>
            <a href="#{{ .id | safeHTMLAttr }}">{{ .title | safeHTML }}</a>
        </li>
        {{ end }}
    </ul>
    {{end}}

    {{ if .Page.IsTranslated }}
    <ul class="flex flex-col gap-4 md:gap-2 items-stretch justify-start text-sm font-medium">
        {{ range .Page.Translations }}
        <li class="inline-flex items-center">
            <a href="{{ .Permalink }}" class="inline-flex items-center">
                <img class="inline-block w-5 h-5 mr-2" src="{{ .Language.Params.image }}"
                     alt="{{ .Language.LanguageName | safeHTMLAttr }}"/>
                {{ .Language.LanguageName }}
            </a>
        </li>
        {{ end }}
    </ul>
    {{end}}
</nav>
{{end}}