<nav class="bg-[#122B7D] md:rounded-t-2xl">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="{{ .Site.BaseURL }}" class="flex items-center">
            <img src="/images/nafo-icon.png" class="h-8 mr-3" alt="NAFO Asia-Pacific">
        </a>
        <div class="flex items-center md:order-2">
            {{ if .Page.IsTranslated }}
            <button type="button" data-dropdown-toggle="language-dropdown-menu" class="inline-flex items-center font-medium justify-center px-4 py-2 text-md rounded-lg cursor-pointer text-white bg-[#16369c] hover:bg-blue-800 hover:text-white">
                {{ .Page.Language.LanguageName }}
            </button>
            <!-- Dropdown -->
            <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow-xl" id="language-dropdown-menu" style="margin: 0 !important;">
                <ul class="py-2 font-medium">
                    {{ range .Page.Translations }}
                    <li>
                        <a href="{{ .Permalink }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
                            <div class="inline-flex items-center">
                                {{ .Language.LanguageName }}
                            </div>
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </div>
            {{end}}
            <button data-collapse-toggle="mobile-menu-language-select" type="button" class="inline-flex items-center p-2 ml-1 text-sm text-gray-300 rounded-lg md:hidden hover:bg-blue-800 hover:text-white">
                <svg class="w-6 h-6" fill="currentColor" aria-hidden="true" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
            </button>
        </div>
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="mobile-menu-language-select">
            <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}

                <li>
                {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
                    <a
                            href="{{ .PageRef }}"
                            class="block py-2 pl-3 pr-4 text-white hover:text-white bg-blue-700 rounded font-bold">
                        {{ .Name }}
                    </a>
                {{else}}
                    <a
                            href="{{ .PageRef }}"
                            class="block py-2 pl-3 pr-4 text-gray-300 rounded hover:bg-blue-800 hover:text-white">
                        {{ .Name }}
                    </a>
                {{end}}
                </li>
                {{end}}
            </ul>
        </div>
    </div>
</nav>
